query-interface/src/main/webapp/schema/biotools-beta02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com) by Julie Mace (EMBL Outstation the EBI) -->
<xs:schema xmlns="http://biotoolsregistry.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="http://biotoolsregistry.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="OntologyTerm">
		<xs:annotation>
			<xs:documentation>Ontology concept term + URI, , or any tag</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="uri">
					<xs:annotation>
						<xs:documentation>The URI of an ontology term</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:anyURI">
							<xs:pattern value=""/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SWOTerm">
		<xs:annotation>
			<xs:documentation>Term and URI of a SWO concept, or any tag</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="uri">
					<xs:simpleType>
						<xs:restriction base="xs:anyURI">
							<xs:pattern value="http://www.ebi.ac.uk/swo/SWO_[0-9]{7}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EDAMFormat">
		<xs:annotation>
			<xs:documentation>Term and URI of an EDAM format concept, or any tag</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:token">
				<xs:attribute name="uri">
					<xs:simpleType>
						<xs:restriction base="xs:anyURI">
							<xs:pattern value="http://edamontology.net/format_[0-9]{4}"/>
							<xs:pattern value="http://edamontology.org/format_[0-9]{4}"/>
							<xs:enumeration value="http://edamontology.org/format_1915"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EDAMOperation">
		<xs:annotation>
			<xs:documentation>Term and URI of an EDAM operation concept, or any tag</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:token">
				<xs:attribute name="uri">
					<xs:annotation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="http://edamontology.org/operation_0004"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:anyURI">
							<xs:pattern value="http://edamontology.net/operation_[0-9]{4}"/>
							<xs:pattern value="http://edamontology.org/operation_[0-9]{4}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EDAMData">
		<xs:annotation>
			<xs:documentation>Term and URI of an EDAM data concept, or any tag</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:token">
				<xs:attribute name="uri">
					<xs:annotation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="http://edamontology.org/data_0006"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:anyURI">
							<xs:pattern value="http://edamontology.net/data_[0-9]{4}"/>
							<xs:pattern value="http://edamontology.org/data_[0-9]{4}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EDAMTopic">
		<xs:annotation>
			<xs:documentation>Term and URI of an EDAM topic concept, or any tag</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:token">
				<xs:attribute name="uri">
					<xs:annotation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="http://edamontology.org/topic_0003"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:anyURI">
							<xs:pattern value="http://edamontology.org/topic_[0-9]{4}"/>
							<xs:pattern value="http://edamontology.net/topic_[0-9]{4}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="tools">
		<xs:annotation>
			<xs:documentation>Description of one or more bioinformatics software entities in the biotools software description format</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tool" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Description of a software entity, e.g. a tool, data service, package etc.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tool">
		<xs:annotation>
			<xs:documentation>Attributes of bioinformatics software</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="Name">
					<xs:annotation>
						<xs:documentation>Canonical name of the software</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="ToolName"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="homepage" type="URL">
					<xs:annotation>
						<xs:documentation>Software homepage (URL)</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="http://toolname.org"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="version" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Version of the software e.g. version number</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="Version 1"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="inCollectionURI" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>URI of an entry in the registry that the software was developed for or maintained as part of, e.g. a suite, framework, library, project, portal, workbench etc.</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="http://biotoolsregistry.org/collectionName"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="usesURI" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>URI of another registry entry that this software uses, e.g. provides an interface to </xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="http://biotoolsregistry.org/someTool"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="softwareType">
					<xs:annotation>
						<xs:documentation>Basic software type: one of "Framework", "Package", "Database", "Tool", "Service" or "Other"</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:restriction base="SWOTerm">
								<xs:enumeration value="Collection"/>
								<xs:enumeration value="Database"/>
								<xs:enumeration value="Framework"/>
								<xs:enumeration value="Library"/>
								<xs:enumeration value="Macro"/>
								<xs:enumeration value="Other"/>
								<xs:enumeration value="Package"/>
								<xs:enumeration value="Platform"/>
								<xs:enumeration value="Plugin"/>
								<xs:enumeration value="Service"/>
								<xs:enumeration value="Service endpoint"/>
								<xs:enumeration value="Suite"/>
								<xs:enumeration value="Tool"/>
								<xs:enumeration value="Virtual machine"/>
								<xs:enumeration value="Widget"/>
							</xs:restriction>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="interfaceType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Software interface type: "REST API", "SOAP API", "Web UI", "Command-line" or "Desktop GUI"</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:restriction base="SWOTerm">
								<xs:enumeration value="Web UI"/>
								<xs:enumeration value="VMI"/>
								<xs:enumeration value="REST API"/>
								<xs:enumeration value="SOAP API"/>
								<xs:enumeration value="Desktop GUI"/>
								<xs:enumeration value="Command line"/>
							</xs:restriction>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="wsdl" type="URL" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Link to WSDL file (URL)</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="http://toolname.org/toolname.wsdl"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="description">
					<xs:annotation>
						<xs:documentation>Short textual description of the software</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="Text"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="topic" type="EDAMTopic" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>General domain the software serves</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="EDAM Topic"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="tag" type="OntologyTerm" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Miscellaneous semantic annotations not covered by EDAM, e.g. data-generating technology, organism taxon, biological environment, disease etc. </xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="A free-text tag"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="function" type="Operation" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Function(s) that the software performs</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="contactPerson" type="contactDetails" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Contact details for primary person to speak to about the software</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="helpdesk" type="contactDetails" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Contact details for the helpdesk</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="registrant" type="contactDetails" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Contact details of person who registered the software</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="sourceRegistry" type="URL" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Link to the registry (or other collection) from which the software was imported (URL)</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="http://sourceregistry.com/toolname"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="maturity" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Software maturity: one of "alpha", "beta" or "production"</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:restriction base="SWOTerm">
								<xs:enumeration value="Alpha"/>
								<xs:enumeration value="Beta"/>
								<xs:enumeration value="Production"/>
							</xs:restriction>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="platform" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Platforms (OS and chipset combination) supported by a downloadable software package</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:restriction base="SWOTerm">
								<xs:enumeration value="Mac"/>
								<xs:enumeration value="Linux"/>
								<xs:enumeration value="Windows"/>
								<xs:enumeration value="Unix"/>
							</xs:restriction>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="language" type="SWOTerm" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Languages (for APIs etc.) or technologies (for Web applications, applets etc.)</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="Java"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="license" type="SWOTerm" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Software or data usage license</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="GPL"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="cost" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Cost of purchase: one of "free" or "not free"</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:restriction base="SWOTerm">
								<xs:enumeration value="Free"/>
								<xs:enumeration value="Not free"/>
							</xs:restriction>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="docs" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Links to documentation on software homepage</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="docsHome" type="URL" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Software documentation main page (URL)</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="http://toolname.org/docs"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="docsCommandLine" type="URL" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Command-line documentation (URL)</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="http://toolname.org/docs/cmd"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="docsREST" type="URL" minOccurs="0">
								<xs:annotation>
									<xs:documentation>REST service documentation (URL)</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="http://toolname.org/docs/rest"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="docsSOAP" type="URL" minOccurs="0">
								<xs:annotation>
									<xs:documentation>SOAP service documentation (URL)</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="http://toolname.org/docs/soap"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="docsSPARQL" type="URL" minOccurs="0">
								<xs:annotation>
									<xs:documentation>SPARQL service documentation (URL)</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="http://toolname.org/docs/sparql"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="docsTermsOfUse" type="URL" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Link to license text or terms of use (URL)</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="http://toolname.org/docs/terms"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="docsDownload" type="URL" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Software or data downloads page (URL)</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="http://toolname.org/downloads"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="docsCitationInstructions" type="URL" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Citation instructions (URL)</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="http://toolname.org/docs/citing"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="publications" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Publications relevant to the software</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="publicationPrimaryID" type="CitationID" minOccurs="0">
								<xs:annotation>
									<xs:documentation>PMCID, PMID or DOI of the primary publication</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="publicationOtherID" type="CitationID" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>PMCID, PMID or DOI of other relevant publications</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="credits" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Entities that should be credited for the software</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="developer" type="Name" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Name of person that developed the software</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Joe Bloggs"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="developerInterface" type="Name" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Name of person that developed the software interface</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Jimmy Bloggs"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="contributor" type="Name" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Name of person contributing to the software</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Judi Bloggs"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="institution" type="Name" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Name of the institution that developed or provide the software</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Institute name"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="infrastructure" type="Name" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Research infrastructure in which the software was developed or provided</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Infrastructure name"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="funding" type="Name" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Details of grant funding supporting the software</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="Grant number: 12345"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="workPackage" type="Name" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Work package in which the software was developed</xs:documentation>
									<xs:appinfo>
										<altova:exampleValues>
											<altova:example value="PretendProject WP3"/>
										</altova:exampleValues>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="entryURI" type="xs:anyURI" use="required">
				<xs:annotation>
					<xs:documentation>Stable unique accession (URI) identifying the software in the registry</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Operation">
		<xs:annotation>
			<xs:documentation>Attributes of software operations</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="functionName" type="EDAMOperation" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Name(s) of the software function(s)</xs:documentation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="EDAM Function"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="functionDescription" type="Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Concise textual description of the function(s)</xs:documentation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="Description of the function."/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="functionHandle" minOccurs="0">
				<xs:annotation>
					<xs:documentation>One of WSDL operation name (SOAP services), URL scheme (REST services) or option/flag (command-line)</xs:documentation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="--someOption"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="input" type="Data" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="output" type="Data" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Data">
		<xs:annotation>
			<xs:documentation>Attributes of software parameters</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dataType" type="EDAMData">
				<xs:annotation>
					<xs:documentation>Type of data</xs:documentation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="EDAM data"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataFormat" type="EDAMFormat" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Allowed format(s) of the data</xs:documentation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="EDAM format"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataHandle" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Parameter identifier, e.g. command-line flag, parameter name etc.</xs:documentation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="--someOption"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Name">
		<xs:annotation>
			<xs:documentation>Name of a thing</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmailAddress">
		<xs:annotation>
			<xs:documentation>Email address</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="FredBloggs@gmail.com"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[A-Za-z0-9_]+([-+.'][A-Za-z0-9_]+)*@[A-Za-z0-9_]+([-.][A-Za-z0-9_]+)*\.[A-Za-z0-9_]+([-.][A-Za-z0-9_]+)*"/>
			<xs:pattern value="((\S*\s*)*&lt;(([a-zA-Z0-9!#$%&amp;'\*\+/=\?\^`\{\}\|~\._-])|(&quot;.+&quot;)|(\\.))+@([a-zA-Z0-9-])+(([a-zA-Z0-9-])*\.([a-zA-Z0-9-])+)+&gt;)|((([a-zA-Z0-9!#$%&amp;'\*\+/=\?\^`\{\}\|~\._-])|(&quot;.+&quot;)|(\\.))+@([a-zA-Z0-9-])+(([a-zA-Z0-9-])*\.([a-zA-Z0-9-])+)+)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="URL">
		<xs:annotation>
			<xs:documentation>URL</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:pattern value="http://[a-z0-9]([a-z0-9]|\-[a-z0-9])*(\.[a-z0-9]([a-z0-9]|\-[a-z0-9])*)*(:[2-9][0-9]{3,})?(/([A-Za-z0-9\-._~!$'()*+,;=&amp;]|%[0-9A-F]{2})+)*/?(\?([A-Za-z0-9\-._~!$'()*+,;=&amp;/\?]|%[0-9A-F]{2})*)?(#([A-Za-z0-9\-._~!$'()*+,;=&amp;/\?]|%[0-9A-F]{2})*)?"/>
			<xs:pattern value="http://[a-z0-9]([a-z0-9]|\-[a-z0-9])*(\.[a-z0-9]([a-z0-9]|\-[a-z0-9])*)*(:[2-9][0-9]{3,})?(/([A-Za-z0-9\-._~!$'()*+,;=&amp;]|%[0-9A-F]{2})+)*/?(\?([A-Za-z0-9\-._~!$'()*+,;=&amp;/\?]|%[0-9A-F]{2})*)?(#([A-Za-z0-9\-._~!$'()*+,;=&amp;/\?]|%[0-9A-F]{2})*)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CitationID">
		<xs:annotation>
			<xs:documentation>Tool citation (PMCID, PMID or DOI)</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="10.1006/jmbi.1995.0238"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="(PMC)[1-9][0-9]{0,8}"/>
			<xs:pattern value="[1-9][0-9]{0,8}"/>
			<xs:pattern value="(doi:)?[0-9]{2}\.[0-9]{4}/.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RegistryURL">
		<xs:annotation>
			<xs:documentation>URL in the registry namespace</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="http://biotoolsregistry.org/collectionName_ID"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:pattern value="http://biotoolsregistry.org/.*"/>
			<xs:pattern value="http://biotoolsregistry.net/.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text">
		<xs:annotation>
			<xs:documentation>Concise textual description </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="contactDetails">
		<xs:all>
			<xs:element name="email" type="EmailAddress">
				<xs:annotation>
					<xs:documentation>Email address of contact</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="Name" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of contact</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tel" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Telephone number of contact </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="url" minOccurs="0">
				<xs:annotation>
					<xs:documentation>URL of contact</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
</xs:schema>
