query-interface/src/main/webapp/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://wwwdev.ebi.ac.uk/fgpt/toolsui/schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Tools" type="sch:ToolsType" xmlns:sch="http://wwwdev.ebi.ac.uk/fgpt/toolsui/schema"/>

    <xs:complexType name="ToolType" mixed="true">
        <xs:choice maxOccurs="unbounded" minOccurs="0">

            <xs:element type="xs:string" name="Name" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:string" name="SoftwareName" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:string" name="Citations"/>
            <xs:element type="xs:string" name="Collection"/>
            <xs:element type="xs:string" name="ContactName"/>
            <xs:element type="xs:string" name="ContactPage"/>
            <xs:element type="xs:string" name="Contributors"/>
            <xs:element type="xs:string" name="Description" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:string" name="Developer"/>
            <xs:element type="xs:string" name="DeveloperInterface"/>
            <xs:element type="xs:string" name="DocsCommandLine"/>
            <xs:element type="xs:string" name="DocsHome"/>
            <xs:element type="xs:string" name="DocsREST"/>
            <xs:element type="xs:string" name="DocsSOAP"/>
            <xs:element type="xs:string" name="DocsSPARQL"/>
            <xs:element type="xs:string" name="Download"/>
            <xs:element type="xs:string" name="DRCAT"/>
            <xs:element type="xs:string" name="FunctionHandle"/>
            <xs:element type="xs:string" name="Functions"/>
            <xs:element type="xs:string" name="FunctionsURI"/>
            <xs:element type="xs:string" name="Funding"/>
            <xs:element type="xs:string" name="Helpdesk"/>
            <xs:element type="xs:string" name="Homepage"/>
            <xs:element type="xs:string" name="Infrastructures"/>
            <xs:element type="xs:string" name="InputFormats"/>
            <xs:element type="xs:string" name="InputTypes"/>
            <xs:element type="xs:string" name="InputTypesURI"/>
            <xs:element type="xs:string" name="Institutions"/>
            <xs:element type="xs:string" name="Interfaces"/>
            <xs:element type="xs:string" name="InterfacesCommandline"/>
            <xs:element type="xs:string" name="InterfacesDesktopGUI"/>
            <xs:element type="xs:string" name="InterfacesOther"/>
            <xs:element type="xs:string" name="InterfacesRESTAPI"/>
            <xs:element type="xs:string" name="InterfacesSOAPAPI"/>
            <xs:element type="xs:string" name="InterfacesJavaAPI"/>
            <xs:element type="xs:string" name="InterfacesWebUI"/>
            <xs:element type="xs:string" name="InterfacesBiomart"/>
            <xs:element type="xs:string" name="InterfacesURI"/>
            <xs:element type="xs:string" name="InterfacesManualDownload"/>
            <xs:element type="xs:string" name="License"/>
            <xs:element type="xs:string" name="LicenseURI"/>
            <xs:element type="xs:string" name="OutputFormats"/>
            <xs:element type="xs:string" name="OutputTypes"/>
            <xs:element type="xs:string" name="OutputTypesURI"/>
            <xs:element type="xs:string" name="PlatformsLinux"/>
            <xs:element type="xs:string" name="PlatformsOSX"/>
            <xs:element type="xs:string" name="PlatformsWindows"/>
            <xs:element type="xs:string" name="Provider"/>
            <xs:element type="xs:string" name="PublicationsPrimary"/>
            <xs:element type="xs:string" name="PublicationsOther"/>
            <xs:element type="xs:string" name="SearchTerms"/>
            <xs:element type="xs:string" name="Tags"/>
            <xs:element type="xs:string" name="WSDL"/>
            <xs:element type="xs:string" name="TagsURI"/>
            <xs:element type="xs:string" name="TermsOfUse"/>
            <xs:element type="xs:string" name="Topics" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:string" name="TopicsURI"/>
            <xs:element type="xs:string" name="Type" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:string" name="Version"/>

            <xs:element name="Maturity">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Alpha "/>
                        <xs:enumeration value="Beta "/>
                        <xs:enumeration value="Production "/>
                        <xs:enumeration value="In development "/>
                        <xs:enumeration value="In testing "/>
                        <xs:enumeration value="not specified "/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="Platforms">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="not specified "/>
                        <xs:enumeration value="Unix "/>
                        <xs:enumeration value="Windows "/>
                        <xs:enumeration value="Linux "/>
                        <xs:enumeration value="OS X "/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="Languages">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="not specified "/>
                        <xs:enumeration value="Java "/>
                        <xs:enumeration value="Perl "/>
                        <xs:enumeration value="Python "/>
                        <xs:enumeration value="R "/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="WorkPackages">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="not specified "/>
                        <xs:enumeration value="WP10 "/>
                        <xs:enumeration value="WP6 "/>
                        <xs:enumeration value="WP3 "/>
                        <xs:enumeration value="WP7 "/>
                        <xs:enumeration value="WP8 "/>
                        <xs:enumeration value="WP9 "/>
                        <xs:enumeration value="WP4 "/>
                        <xs:enumeration value="WP5 "/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="Cost">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="not specified "/>
                        <xs:enumeration value="Free "/>
                        <xs:enumeration value="Free for non profit "/>
                        <xs:enumeration value="Free for academic use "/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

        </xs:choice>
        <xs:attribute type="xs:string" name="toolid" use="optional"/>
    </xs:complexType>

    <xs:complexType name="ToolsType">
        <xs:sequence>
            <xs:element type="sch:ToolType"
                        name="Tool"
                        maxOccurs="unbounded"
                        minOccurs="0"
                        xmlns:sch="http://wwwdev.ebi.ac.uk/fgpt/toolsui/schema">
                <xs:annotation>
                    <xs:documentation>&lt;Tools xmlns="http://wwwdev.ebi.ac.uk/fgpt/toolsui/schema"xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"xsi:schemaLocation="http://wwwdev.ebi.ac.uk/fgpt/toolsui/schemahttp://wwwdev.ebi.ac.uk/fgpt/toolsui/2014/10/29/schema.xsd"></xs:documentation>
                </xs:annotation>
                <xs:unique name="testUnique">
                    <xs:selector xpath="tool"/>
                    <xs:field xpath="name"/>
                </xs:unique>
            </xs:element>

        </xs:sequence>

    </xs:complexType>

</xs:schema>